@page "/counter"
@rendermode InteractiveAuto

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: <FluentBadge Appearance="Appearance.Neutral">@currentCount</FluentBadge></p>

<FluentButton Appearance="Appearance.Accent" @onclick="IncrementCount">Click me</FluentButton>


<PrismHighlighter>
    <pre>
    <code class="language-csharp">
    private int currentCount = 0;
    private void IncrementCount()
    {
    currentCount++;
    }
    </code>
    </pre>
</PrismHighlighter>

@* <PrismHighlighter>
    <pre>
    <code class="language-csharp">
        global using Microsoft.AspNetCore.Components;
        global using Microsoft.JSInterop;
    </code>
    </pre>
</PrismHighlighter> *@


@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
