@page "/counter"

@rendermode InteractiveAuto

@inject IToastService ToastService
@inject IDialogService DialogService

<PageTitle>Demo</PageTitle>

<FluentToastProvider MaxToastCount="10" />
<FluentDialogProvider />
<FluentTooltipProvider />


<FluentGrid>

    <FluentGridItem xs="12">

        <p role="status">Current count: <FluentBadge Appearance="Appearance.Neutral">@currentCount</FluentBadge></p>

        <FluentButton Appearance="Appearance.Accent" @onclick="IncrementCount">Click me</FluentButton>

        <MarkdownViewer Content="@md"></MarkdownViewer>

        <CodeHighlighter>
            <pre>
            <code class="language-csharp">
        global using Microsoft.AspNetCore.Components;
        global using Microsoft.JSInterop;
        </code>
    </pre>
        </CodeHighlighter>

        <FluentSpacer></FluentSpacer>

    </FluentGridItem>

    <FluentGridItem xs="12">

        <MarkdownEditor @ref="editor" Content="@md" UploadImage="true" UploadImagePath="/upload"></MarkdownEditor>
        <FluentButton @onclick="async()=>{await GetContent(); }" Appearance="Appearance.Accent">获取Content</FluentButton>

    </FluentGridItem>


</FluentGrid>


@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;

        ToastService.ShowInfo($"Current count: {currentCount}");
    }

    private string md = "#### Hello World";

    private MarkdownEditor editor = null!;

    private async Task GetContent()
    {
        var content = await editor.GetContent();
        ToastService.ShowInfo(content!);
    }
}