@rendermode InteractiveServer

@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, Biwen.Blazor.Components!</h1>

<a href="https://github.com/vipwan/Biwen.Blazor.Components">For more infomations redirect to githubs</a>

<FluentGrid>

    <FluentGridItem xs="12" sm="6">
        <div class="card">
            <QRCode Content="hello biwen" Level="@QRCodeLevel.H" TypeNumber="4" CellSize="5">
                <FluentProgressRing></FluentProgressRing>
            </QRCode>
        </div>
    </FluentGridItem>

    <FluentGridItem xs="12" sm="6">
        <div class="card">
            <QRCode Content="https://github.com/vipwan/Biwen.Blazor.Components" Level="@QRCodeLevel.M" TypeNumber="4" CellSize="5">
                loading...
            </QRCode>
        </div>
    </FluentGridItem>

</FluentGrid>

